
<form action="/tweets" method="POST">
  <input type="text" placeholder="twitter username" name="username">
  <input type="submit" value="Search Tweets">
</form>


<form action="/tweet_submit" method="POST">
  <input type="text" placeholder="enter your tweet" name="tweet">
  <input type="submit" value="Tweet">
</form>
